<div class="container">
  <mat-card class="sizer">
    <mat-card-header>
      <mat-card-title>Record Data</mat-card-title>
    </mat-card-header>
    <form *ngIf="record" (ngSubmit)="onChangeRecord()" id="record-form" #form="ngForm">

      <!-- <mat-form-field>
        <input type="number" name="id" id="id" matInput placeholder="ID" required [(ngModel)]="record.id">
      </mat-form-field> -->

      <mat-form-field>
        <input type="number" name="value" id="value" matInput placeholder="Value" required [(ngModel)]="record.value">
      </mat-form-field>

      <mat-form-field>
        <input type="date" name="date" id="date" matInput placeholder="DATE"
        [ngModel]="record.date | date: 'yyyy-MM-dd'" (ngModelChange)="record.date=$event">
      </mat-form-field>

      <button mat-raised-button color="primary"
        form="record-form"
        [disabled]="form.invalid">
        CHANGE
      </button>
      <button type="reset" accesskey="r" mat-button color="primary"
        routerLink="/record-list">
        CANCEL
      </button>

    </form>
  </mat-card>
</div>
