<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center">
  <mat-card class="sizer">
    <mat-list>
      <mat-list-item>
        <h4 mat-line>Record #{{record._id}}</h4>
        <p mat-line>Value: {{record.value}}</p>
        <p mat-line>Date: {{record.date}}</p>
        <p mat-line>Saved: {{record.saved}}</p>
      </mat-list-item>
     </mat-list>
    <mat-card-actions>
      <button mat-raised-button color="primary"
        (click)="onSaveRecord()"
        [disabled]="record.saved">
        SAVE
      </button>
      <button mat-button color="primary"
        (click)="onEditRecord()">
        EDIT
      </button>
    </mat-card-actions>
  </mat-card>
</div>
