/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

* {
  margin: 0;
  padding: 0;
}

span:focus,
mat-icon:focus {
  outline: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.inner-content {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 64px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  padding: 0 14px;
}

.pointer {
  cursor: pointer;
}

.active {
  opacity: 0.3;
  cursor: auto;
  user-select: none;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.container {
  margin-top: 50px;
  position: relative;
}

.sizer {
  min-width: 400px;
}

mat-header-cell,
mat-cell {
  display: flex;
  justify-content: center;
}

.toolbar-flex {
  flex: 1 0.5 auto;
}
