<<<<<<< HEAD
/* .maximum {
  min-width: 100%;
} */

.full {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
=======
.maximum {
  width: 800px;
  height: 500px;
>>>>>>> 1e35d54c068f858d83f746f0b24cc4ce2feb4d05
}
